{% extends 'main/base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">
            {% include 'main/includes/landing.html' %}
            {% include 'main/includes/about.html' %}
            {% include 'main/includes/services.html' %}
            {% include 'main/includes/resume.html' %}
            {% include 'main/includes/testimonial.html' %}
            {% include 'main/includes/blogs.html' %}
            {% include 'main/includes/contact.html' %}
        </div>
    </div>
{% endblock content %}
