{% load static %}

<div class="about" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-heading wow ">
                    <h2 class="title">
                        About <span class="color">Me</span>
                        <span class="bg-text">About</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-image">
                            <img src="{% static 'main/images/hary1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 align-self-center">
                        <div class="about-me">
                            <p>
                                I am a highly competent IT professional with a track record in designing and developing websites,
                                and managing databases. I have strong technical skills as well as excellent interpersonal skills,
                                enabling me to interact with a wide range of clients.

                            </p>
                            <p>
                                I am eager to be challenged in order to grow and further improve my IT skills.
                                My greatest passion in life is using my technical know-how to benefit other people and organisations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Personal info -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="personal-info mt-5">
                <ul>
                    <li>
                        <span>
                            <label>Name:</label> Kibirio Harrison Ruiru
                        </span>
                    </li>
                    <li>
                        <span><label>Nationality:</label>  Kenyan</span>
                    </li>
                    <li>
                        <span><label>Address:</label>  99-20318</span>
                    </li>
                    <li>
                        <span> <label>City:</label>  Kakamega</span>
                    </li>
                    <li>
                        <span><label>Mobile:</label>  +254 710723047</span>
                    </li>
                    <li>
                        <span>
                            <label>Mail:</label> ruiruharrison047@gmail.com
                        </span>
                    </li>
                    <li>
                        <span><label>Study:</label>  MMUST</span>
                    </li>
                    <li>
                        <span><label>Interests:</label> Travelling, Reading, Graphic designs</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- extra info -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="single-item">
                <img src="{% static 'main/images/009-web-design.png' %}" alt="">
                <div class="item-wrapper">
                    <div class="counter">03</div>
                </div>
                <p class="text">Projects Done</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-item">
                <img src="{% static 'main/images/010-team.png' %}" alt="">
                <div class="item-wrapper">
                    <div class="counter">02</div>
                </div>
                <p class="text">Happy Users</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-item">
                <img src="{% static 'main/images/011-development.png' %}" alt="">
                <div class="item-wrapper">
                    <div class="counter">05</div>
                </div>
                <p class="text">Reviews</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-item">
                <img src="{% static 'main/images/012-assistance.png' %}" alt="">
                <div class="item-wrapper">
                    <div class="counter">03</div>
                </div>
                <p class="text">Support Team</p>
            </div>
        </div>
    </div>
</div>