{% load static %}

<div class="home-section" id="home" style="background-image:url('{% static "main/images/pexels-tima.jpg" %}')">
    <!-- <div class="particals"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="home-content">
                    <div class="home-image">
                        <img src="{% static 'main/images/me3.png' %}" alt="">
                    </div>
                    <div class="home-main-content">
                        <h4 class="heading">Kibirio Harrison Ruiru</h4>
                        <div class="designation">
                            <span class="text-light">
                                I'm a <span class="typed text-light"></span>
                                <span class="typed-cursor"></span>
                            </span>
                        </div>
                        <div class="social-info">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/kibirio.harryx/" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Harryx35184302" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/harrison-ruiru-ab7879184/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Kibirio" target="_blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="today mt-4 mb-2">
                            <h3>{{ current_year }}</h3>
                        </div>
                        <div class="about-links">
                            <a href="#contact" class="landing-btn mybtn-bg mt-5"><span>Contact Me</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>