{% load static %}

<div class="services" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="title">
                        My <span class="color">Services</span>
                        <span class="bg-text">Services</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-item">
                    <img src="{% static 'main/images/021-ux.png' %}" alt="">
                    <div class="item-wrapper">
                        <div class="item-title">
                            Web Design
                        </div>
                    </div>
                    <p class="text">
                        Taking your business to the next level with well
                        designed websites that will reaches your clients..
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-item">
                    <img src="{% static 'main/images/016-smartphone.png' %}" alt="">
                    <div class="item-wrapper">
                        <div class="item-title">
                            Mobile Apps
                        </div>
                    </div>
                    <p class="text">
                        Run your business at your hands. Mobile apps that will transform
                        the business and connect with clients.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-item">
                    <img src="{% static 'main/images/020-image-editor.png' %}" alt="">
                    <div class="item-wrapper">
                        <div class="item-title">
                            Graphics Designs
                        </div>
                    </div>
                    <p class="text">
                        Make lasting impressions. Impressions that will keep your clients coming again.
                        Impressions that talks on your behalf..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>