{% load static %}

<div  class="menu-toggle-icon navbar-toggler" data-toggle="collapse" data-target="#ham1">
        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
</div>
<div class="sidebar-header" id="ham1">
        <div class="top-profile">
            <a href="index.html"><img class="profile-img mt-2" src="{%static 'main/images/me1.png'  %}" alt="profile pic"></a>
            <div class="username">
                Harrison Ruiru
            </div>
        </div>
        <ul id="nav-list">
            <li class=" icons active">
                <a data-scroll href="#home" class="anchor"><i class="flaticon-home"></i>Home</a>
            </li>
            <li  class="icons">
                <a data-scroll href="#about" class="anchor"><i class="flaticon-user-1"></i>About</a>
            </li>
            <li class="icons">
                <a data-scroll href="#services" class="anchor"><i class="flaticon-system"></i>Services</a>
            </li>
            <li class="icons">
                <a data-scroll href="#resume" class="anchor"><i class="flaticon-cv"></i>Resume</a>
            </li>
            <li class="icons">
                <a data-scroll href="#blogs" class="anchor"><i class="flaticon-notes"></i>Blog</a>
            </li>
            <li class="icons" >
                <a data-scroll href="#contact" class="anchor"><i class="flaticon-complain"></i>Contact</a>
            </li>
        </ul>
    </div>