<!-- Skills -->
<div class="skills" id="skills">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="skills-section">
                    <div class="skills-title">
                        <h4 class="section-title">
                            Coding/ programming skills
                        </h4>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">HTML / CSS</h4>
                                <h5 class="value">80%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">Javascript</h4>
                                <h5 class="value">40%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">Java</h4>
                                <h5 class="value">60%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">Python / Django</h4>
                                <h5 class="value">70%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills-section">
                    <div class="skills-title">
                        <h4 class="section-title">
                            Language skills
                        </h4>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">Kikuyu</h4>
                                <h5 class="value">99%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">Kiswahili</h4>
                                <h5 class="value">85%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills-list">
                        <div class="single-skill">
                            <div class="heading">
                                <h4 class="name">English</h4>
                                <h5 class="value">90%</h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- professional skills -->
<div class="skills-pro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-box">
                    <div class="section-pro-title">
                        <h4 class="title">
                            Professional skills
                        </h4>
                    </div>
                    <div class="skills-pro-list">
                        <div class="single-skill-pro">
                            <div class="circle-progress" data-percent="80">
                                <div class="background" style="background-color: rgb(230, 67, 152);"></div>
                                <div class="rotate"
                                     style="background-color: rgb(244, 11, 104); transform: rotate(252deg);"></div>
                                <div class="left"
                                     style="background-color: rgb(230, 67, 152); animation: 1250ms steps(1, start) 0s 1 normal none running toggle; opacity: 0;"></div>
                                <div class="right"
                                     style="background-color: rgb(244, 11, 104); animation: 1250ms steps(1) 0s 1 normal none running toggle; opacity: 1;"></div>
                                <div class="">
                                    <span>70%</span>
                                </div>
                            </div>
                            <h4 class="name">Web design</h4>
                        </div>
                        <div class="single-skill-pro">
                            <div class="circle-progress" data-percent="65">
                                <div class="background" style="background-color: rgb(230, 67, 152);"></div>
                                <div class="rotate"
                                     style="background-color: rgb(244, 11, 104); transform: rotate(234deg);"></div>
                                <div class="left"
                                     style="background-color: rgb(230, 67, 152); animation: 1250ms steps(1, start) 0s 1 normal none running toggle; opacity: 0;"></div>
                                <div class="right"
                                     style="background-color: rgb(244, 11, 104); animation: 1250ms steps(1) 0s 1 normal none running toggle; opacity: 1;"></div>
                                <div class="">
                                    <span>65%</span>
                                </div>
                            </div>
                            <h4 class="name">Graphic design</h4>
                        </div>
                        <div class="single-skill-pro">
                            <div class="circle-progress" data-percent="60">
                                <div class="background" style="background-color: rgb(230, 67, 152);;"></div>
                                <div class="rotate"
                                     style="background-color: rgb(244, 11, 104); transform: rotate(288deg);"></div>
                                <div class="left"
                                     style="background-color: rgb(230, 67, 152); animation: 1250ms steps(1, start) 0s 1 normal none running toggle; opacity: 0;"></div>
                                <div class="right"
                                     style="background-color: rgb(244, 11, 104); animation: 1250ms steps(1) 0s 1 normal none running toggle; opacity: 1;"></div>
                                <div class="">
                                    <span>70%</span>
                                </div>
                            </div>
                            <h4 class="name">Web development</h4>
                        </div>
                        <div class="single-skill-pro">
                            <div class="circle-progress" data-percent="50">
                                <div class="background" style="background-color: rgb(230, 67, 152);"></div>
                                <div class="rotate"
                                     style="background-color: rgb(244, 11, 104); transform: rotate(180deg);"></div>
                                <div class="left"
                                     style="background-color: rgb(230, 67, 152);; animation: 1250ms steps(1, start) 0s 1 normal none running toggle; opacity: 0;"></div>
                                <div class="right"
                                     style="background-color: rgb(244, 11, 104); animation: 1250ms steps(1) 0s 1 normal none running toggle; opacity: 1;"></div>
                                <div class="">
                                    <span>50%</span>
                                </div>
                            </div>
                            <h4 class="name">Mobile Apps</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-box">
                    <div class="section-pro-title">
                        <h4 class="title">
                            Knowledge
                        </h4>
                    </div>
                    <div class="knowledge-list">
                        <div class="single-knowledge">
                            <p>Computer Networking</p>
                        </div>
                        <div class="single-knowledge">
                            <p>Email communication</p>
                        </div>
                        <div class="single-knowledge">
                            <p>Presentation software</p>
                        </div>
                        <div class="single-knowledge">
                            <p>Office suites (Microsoft Office, G Suite)</p>
                        </div>
                        <div class="single-knowledge">
                            <p>Operating systems (Windows & Linux)</p>
                        </div>
                        <div class="single-knowledge">
                            <p>Operating systems (Windows & Linux)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>