<!-- Testimonial -->
{% load static %}
<div class="testimonial " id="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-heading wow fadeInUp">
                    <h2 class="title">
                        My
                        <span class="color">Testimonial</span>
                        <span class="bg-text">Testimonial</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="testimonial-area">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp">
                    <div class="owl-carousel test-slides" id="testimonial-carousel">
                        <div class="item">
                            <div class="single-testimonial">
                                <div class="img-area">
                                    <img src="{% static 'main/images/pexel1.jpg' %}" alt="">
                                </div>
                                <div class="test-text">
                                    <h4>John Doe</h4>
                                    <span>Web designer</span>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptates
                                        laudantium odit deserunt impedit explicabo consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-testimonial">
                                <div class="img-area">
                                    <img src="{% static 'main/images/pexel4.jpg' %}" alt="">
                                </div>
                                <div class="test-text">
                                    <h4>Jane Doe</h4>
                                    <span>CEO Good works</span>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptates
                                        laudantium odit deserunt impedit explicabo consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-testimonial">
                                <div class="img-area">
                                    <img src="{% static 'main/images/aa1.jpg' %}" alt="">
                                </div>
                                <div class="test-text">
                                    <h4>Douglas Okayo</h4>
                                    <span>CEO, Okayolabs</span>
                                    <p>This is great work out of hard work and determination. You are a great website designer and database management expert. This portfolio has a perfect user interface with so great appealing color.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>